<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img style="height: 50px;" src="https://www.livemint.com/lm-img/img/2023/10/13/600x338/rollys_royce_1697192695857_1697193035340.png" alt="">
  <h1>Rolls-Royce</h1>
  <button>pay</button>
</body>
</html>
